/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, header, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
button {
    background: transparent; /* Fix for Chrome and Firefox OS */
}
:focus {
    outline: 0;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

/* end of reset */

html, body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0;
    padding:0;
    width: 100%;
    background-color: #001c3d;
}

.splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:url('../img/splash.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
}

.spinner {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -16px;
    background-image:url('../img/loading.gif');
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    z-index: 1001;
}

/* header styles */

header {
    height: 44px;
    background-color: #001c3d;
    background-image: none;
}

header.stay {
    background-image: url('../img/header-main.png');
    background-size:auto 44px;
    background-repeat: no-repeat;
}

header .story-list,
header .menu {
    height: 44px;
    background: url('../img/header-main.png');
    background-color: #001c3d;
    background-size:auto 44px;
    background-repeat: no-repeat;
}

header .story {
    height: 44px;
    background: url('../img/header-story.png');
    background-size:auto 44px;
    background-repeat: no-repeat;
    background-color: #001c3d;
    background-position: center;
}

header .story-list,
header .menu, 
header .story {
    display: none;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

header .story-list .show-menu,
header .menu .show-menu {
    height: 44px;
    width: 44px;
    float: right;
    background-image: url('../img/header-btn-story-menu.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 44px;
}

header .story-list.active,
header .menu.active,
header .story.active {
    display: block;
}

header .story-list.showing,
header .menu.showing,
header .story.showing {
    opacity: 1.0;
}

header .story-list.hiding,
header .menu.hiding,
header .story.hiding {
    opacity: 0.0;
}

header .menu .show-menu {
    background-image: url('../img/header-btn-menu-menu.png');
}

header .story-list .show-menu:active {
    background-image: url('../img/header-btn-story-menu-active.png');
}

header .menu .show-menu:active {
    background-image: url('../img/header-btn-menu-menu-active.png');
}

header .menu .offline {
    height: 44px;
    width: 44px;
    float: right;
    background-image: url('../img/header-offline.png');
    background-repeat: no-repeat;
    background-size: auto 44px;
    display: none;
}

header .story .back {
    height: 44px;
    width: 100px;
    float: left;
    background-image: url('../img/header-btn-story-back.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 44px;
}

header .story .back:active {
    background-image: url('../img/header-btn-story-back-active.png');
}

header .story .btn-group {
    height: 44px;
    width: 100px;
    float: right;
}

header .story .btn-group .previous, 
header .story .btn-group .next {
    height: 44px;
    width: 44px;
    float: right;
    background-image: url('../img/header-btn-story-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 44px;
}

header .story .btn-group .previous:active,
header .story .btn-group .next:active {
    background-image: url('../img/header-btn-story-arrow-active.png');
}

header .story .btn-group .next {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* end of header styles */

.container {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.container section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    width: 100%;
}

/* story list styles */

section.story-list {
    display: none;
    z-index: 1;
    /*-webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-transition: -webkit-filter 200ms ease-in;
    transition: filter 200ms ease-in;*/
}

section.story-list.active {
    display: block;
    /*-webkit-filter: none;
    filter: none;
    -webkit-transition: -webkit-filter 200ms ease-out 200ms;
    transition: filter 200ms ease-out 200ms;*/
}

section.story-list li {
    padding: 0;
    background-color: white;
}

section.story-list.rtl {
    direction: rtl;
}

section.story-list .top-bar,
section.story .top-bar {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 0;
    background-color: #001c3d;
}

section.story-list .story-item {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-shadow: none;
}

section.story-list .story-item .hairline {
    border-top: 1px solid #333;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}


section.story-list li:first-of-type .story-item .hairline {
    border-top: none;
}

section.story-list .story-item.active {
    background-color: #0079ff;
    color: white;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    /*text-shadow:#3A4793 1px 1px;*/
}

section.story-list .story-item .story-text {
    width: 100%;
    margin: 0 2px;
}

section.story-list li:first-of-type .story-item .story-text {
    clear: both;
    background-color: black;
    margin: 0;
    overflow: auto;
}

section.story-list .story-item .story-title {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1;
    height: 2.3em;
    overflow: hidden;
}

section.story-list li:first-of-type .story-item .story-title {
    clear: both;
    color: white;
    margin: 0 4px;
    font-size: 1.5em;
    height: auto;
    overflow: visible;
    padding: 10px 0 12px;
}

section.story-list .story-image {
    height: 3.875em;
    width: auto;
    margin: 1px;
    float: right;
}

section.story-list.rtl .story-image {
    float: left;
}

section.story-list li:first-of-type .story-image {
    width: 100%;
    height: auto;
    margin: 0;
}

section.story-list .story-image img {
    width: 100%;
}

section.story-list .story-item .story-author, 
section.story-list .story-item .story-date {
    text-transform: uppercase;
    font-size: 0.625em;
    line-height: 1.1;
    height: 1.1em;
    overflow: hidden;
}

section.story-list li:first-of-type .story-item .story-author,
section.story-list li:first-of-type .story-item .story-date {
    display: none;
}

/* end of story list styles */

section.menu {
    top: 100%;
    display: block;
    z-index: 2;
    background-color: #001c3d;
    -webkit-transition: top 500ms ease-in-out;
    transition: top 500ms ease-in-out;
}

section.menu.active {
    top: 0;
    -webkit-transition: top 500ms ease-in-out;
    transition: top 500ms ease-in-out;
}

section.menu .section-header {
    background-color:#ccc7c2;
    clear: both;
    overflow: auto;
}

section.menu .section-header .title, 
section.menu .section-header .sub {
    float: left;
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 20px;
    color: black;
    font-weight: normal;
    text-transform: uppercase;
}

section.menu .section-header .sub {
    float: right;
}

section.menu ul.menu-items li {
    display: block;
    background-color: white;
    clear: both;
    overflow: auto;
}

section.menu ul.menu-items li .hairline {
    border-top: 1px solid #ccc7c2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

section.menu ul.menu-items li.active {
    background-color: #ccc7c2;
}

section.menu .menu-item a {
    display: block;
    height: 66px;
    text-decoration: none;
}

section.menu .menu-item-box {
    display: inline-block;
    float: left;
    margin-top: 12px;
}

section.menu .menu-item-box .label, 
section.menu .menu-item-box .sub {
    margin-left: 8px;
    font-size: 22px;
    font-weight: normal;
    color: black;
}

section.menu .menu-item-box .sub {
    font-size: 10px;
    text-transform: uppercase;
}

section.menu .menu-item-box .link {
    margin-top: 8px;
}

section.menu .check {
    float: right;
    width: 44px;
    height: 100%;
    display: inline-block;
    background-image: url('../img/unchecked.png');
    background-position: 50% 50%;
    background-size: 70%;
    background-repeat: no-repeat;
}

section.menu .check.checked {
    background-image: url('../img/checked.png');
}

section.menu .check.required {
    background-image: url('../img/check-required.png');
}

section.menu .check.loading {
    background-image: url('../img/loading.gif');
    background-size: 50%;
}

section.story {
    left: 100%;
    bottom: 44px;
    z-index: 30;
    display: block;
    -webkit-transition: left 350ms;
    transition: left 350ms;
    word-break: break-word;
    overflow: hidden;
}

section.story.full-height {
    bottom: 0;
}

section.story.rtl {
    direction: rtl;
}

section.story.active {
    left: 0;
    background-color: #001c3d;
    -webkit-transition: left 350ms;
    transition: left 350ms;
}


section.story .previous {
    display: none;
}

section.story.active {
    display: block;
}

section.story.active .current,
section.story.active .next,
section.story.active .previous {
    display: block;
}

section.story .current,
section.story .next,
section.story .previous {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left 350ms, right 350ms;
    transition: left 350ms, right 350ms;
}

section.story .next {
    left: 100%;
    right: -100%;
}

section.story .previous {
    right: 100%;
    left: -100%;
}

section.story .page {
    background-color: white;
}

section.story .story-title {
    font-size: 24px;
    margin: 8px;
    font-weight: bold;
    line-height: 1.1;
}

section.story .story-image {
    width: 100%;
}

section.story .story-meta {
    margin: 8px;
    font-size: 12px;
    color:#91907b;
    text-transform:uppercase;
}

section.story .story-meta .story-author {
    font-weight: bold;
}

section.story .story-text {
    font-family: Georgia, Times, serif;
    margin:0 8px;
    line-height: 1.4em;
    padding-bottom: 16px;
    font-size: 1.2em;
}

section.story .story-text p {
    margin-bottom: 4px;
}

section.story .story-text a,
section.story .story-text a:active,
section.story .story-text a:hover,
section.story .story-text a:link,
section.story .story-text a:visited {
    color:#0079ff !important;
    text-decoration: none;
}

section.story .story-text iframe, 
section.story .story-text object, 
section.story .story-text embed, 
section.story .story-text videoEmbed,
section.story .story-text dc {
    display:none;
}

section.story .story-text ul {
    margin: 4px 8px 8px;
}

section.story .story-text li {
    list-style-type:disc;
    margin-left:8px;
    margin-right:8px;
}

section.story .story-text li a {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0079ff;
}

section.story .story-text h4 {
    font-weight: bold;
    margin: 8px 0 4px;
    color: black;
}

section.story .story-text h3{
    font: normal 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 8px 0 4px;
    color: #444444;
    text-transform: uppercase;
}

section.story .story-text .relatedList li{
    margin:4 px 8px !important;
}

footer.story-footer {
    z-index: 1002;
    height: 44px;
    background-color: #f9f9f9;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 100%;
    -webkit-transition: left 350ms;
    transition: left 350ms;
}

footer.story-footer .text-left,
footer.story-footer .text-right {
    width: 15%;
    height: 66px;
    position: absolute;
    top: -66px;
    background-image: url('../img/footer-text-resize-left.png');
    background-size: auto 50%;
    background-position-x: 90%;
    background-position-y: center;
    background-repeat: no-repeat;
}

footer.story-footer .text-right {
    right: 0;
    background-position-x: 10%;
    background-image: url('../img/footer-text-resize-right.png');
}

footer.story-footer .text-resize {
    height: 66px;
    background-color: #f3f3f3;
    margin-top: -66px;
    text-align: center;
    display: none;
}

footer.story-footer .text-resize.active {
    display: block;
}

footer.story-footer .text-resize .text-resize-slider {
    -webkit-appearance: none;
    margin-top: 30px;
    background: #b8b7b8;
    width: 70%;
    height: 4px;
    border-radius: 4px;
    position: relative;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.2, #007aff),
        color-stop(0.2, #b8b7b8)
    );
}

footer.story-footer .text-resize input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #666;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    cursor: pointer;
    border: none;
}

footer.story-footer .hairline {
    border-top: 1px solid #b2b2b2;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

footer.story-footer.active {
    left: 0;
    -webkit-transition: left 350ms;
    transition: left 350ms;
}

footer.story-footer button.share {
    height: 44px;
    width: 44px;
    float: left;
    background-image: url('../img/footer-story-share.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 44px;
}

footer.story-footer button.share:active {
    background-image: url('../img/footer-story-share-active.png');
}

footer.story-footer button.share.disabled,
footer.story-footer button.share.disabled:active {
    background-image: none;
}

footer.story-footer button.text {
    height: 44px;
    width: 44px;
    float: left;
    margin-left: -66px;
    left: 50%;
    background-image: url('../img/footer-story-text.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 44px;
}

footer.story-footer button.text:active {
    background-image: url('../img/footer-story-text-active.png');
}

footer.story-footer .spacer {
    width: 50%;
    height: 44px;
    float: left;
}


#container {
    position: relative;
    padding: 5px;
    -webkit-transition: -webkit-transform 0ms;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;
}

    /* slide up with small animation */
#container.pullrefresh-slideup,
#container.pullrefresh-loading {
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
}

    /* place the pullrefresh box above the container */
#pullrefresh {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -490px;
    left: 0;
    width: 100%;
    height: 490px;
    background: #001c3d;
    /*box-shadow: 0 -5px 10px #bbb inset;*/
}

#pullrefresh .message {
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
    color: white;
    text-align: center;
    font-weight: bold;
}

    /* icon */
#pullrefresh .icon {
    position: absolute;
    left: 50%;
    margin-left: -9px;
}

/* spinner icon */
/* rotate spinner with css animation */
@keyframes rotate{ 0%{ transform: rotate(0deg); } 100%{ transform: rotate(360deg); } }
@-o-keyframes rotate{ 0%{ -o-transform: rotate(0deg); } 100%{ -o-transform: rotate(360deg); } }
@-ms-keyframes rotate{ 0%{ -ms-transform: rotate(0deg); } 100%{ -ms-transform: rotate(360deg); } }
@-moz-keyframes rotate{ 0%{ -moz-transform: rotate(0deg); } 100%{ -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate{ 0%{ -webkit-transform: rotate(0deg); } 100%{ -webkit-transform: rotate(360deg); } }

#pullrefresh .icon.loading {
    background: url('../img/spinner.png') no-repeat;
    width: 19px;
    height: 19px;
    background-size: 100%;
    bottom: 0;

    animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    -ms-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}



